<div class="mid_block">
	<div class="container">
		<div class="row">
            <div class="offset1 span10">
                <div class="visible-desktop">
                    <h4>Friday, May 30th</h4>
                    <table class="table table-striped table-bordered">
                        <tr>
                            <td></td>
                            <% @rooms.each { | room | %>
                                <td>
                                    <h5><%= room %></h5>
                                </td>
                            <% } %>
                        </tr>
                        <% @friday.keys.each do | time | %>
                            <tr>
                                <td>
                                     <h5><%= DateTime.strptime(time, '%m/%d/%Y %H:%M:%S').strftime('%l:%M %p') %></h5>
                                </td>

                                <% sessions = @friday[time] %>
                                <% @rooms.each do | room | %>
                                    <% session = sessions.find { |value| value['room'] == room } %>
                                    <% if (session) %>
                                        <td <% if (session['slots'] > 1) %>rowspan="<%= session['slots'] %>"<% end %>>
                                            <% hasLink = session['anchor'] != 'none' %>
                                            <% if hasLink %><a href="/speakers#<%= session['anchor'] %>"><% end %>
                                            <%= session['name'] %><% if hasLink %> – <%= session['title'] %><% end %>
                                            <% if hasLink %></a><% end %>
                                        </td>
                                    <% else %>
                                        <td></td>
                                    <% end %>
                                <% end %>
                            </tr>
                        <% end %>
                    </table>

                    <h4>Saturday, May 31st</h4>
                    <table class="table table-striped table-bordered">
                        <tr>
                            <td></td>
                            <% @rooms.each { | room | %>
                                <td>
                                    <h5><%= room %></h5>
                                </td>
                            <% } %>
                        </tr>
                        <% @saturday.keys.each do | time | %>
                            <tr>
                                <td>
                                    <h5><%= DateTime.strptime(time, '%m/%d/%Y %H:%M:%S').strftime('%l:%M %p') %></h5>
                                </td>

                                <% sessions = @saturday[time] %>
                                <% @rooms.each do | room | %>
                                    <% session = sessions.find { |value| value['room'] == room } %>
                                    <% if (session) %>
                                        <td <% if (session['slots'] > 1) %>rowspan="<%= session['slots'] %>"<% end %>>
                                            <% hasLink = session['anchor'] != 'none' %>
                                            <% if hasLink %><a href="/speakers#<%= session['anchor'] %>"><% end %>
                                            <%= session['name'] %><% if hasLink %> – <%= session['title'] %><% end %>
                                            <% if hasLink %></a><% end %>
                                        </td>
                                    <% else %>
                                        <td></td>
                                    <% end %>
                                <% end %>
                            </tr>
                        <% end %>
                    </table>
                </div>

                <div class="hidden-desktop">
                    <h4>Friday, May 30th</h4>
                    <% @friday.keys.each do | slot | %>
                        <h5><%= DateTime.strptime(slot, '%m/%d/%Y %H:%M:%S').strftime('%l:%M %p') %></h5>
                        <ul>
                            <% rooms = @friday[slot] %>
                            <% rooms.each do | row | %>
                                <li>
                                    <% hasLink = row['anchor'] != 'none' %>
                                    <%= row['room'] %>: <% if hasLink %><a href="/speakers#<%= row['anchor'] %>"><% end %>
                                    <% if row['name'] != 'blank' %><%= row['name'] %><% if hasLink %> – <%= row['title'] %><% end %><% end %>
                                    <% if hasLink %></a><% end %>
                                </li>
                            <% end %>
                        </ul>
                    <% end %>

                    <h4>Saturday, May 31st</h4>
                    <% @saturday.keys.each do | slot | %>
                        <h5><%= DateTime.strptime(slot, '%m/%d/%Y %H:%M:%S').strftime('%l:%M %p') %></h5>
                        <ul>
                            <% rooms = @saturday[slot] %>
                            <% rooms.each do | row | %>
                                <li>
                                    <% hasLink = row['anchor'] != 'none' %>
                                    <%= row['room'] %>: <% if hasLink %><a href="/speakers#<%= row['anchor'] %>"><% end %>
                                    <% if row['name'] != 'blank' %><%= row['name'] %><% if hasLink %> – <%= row['title'] %><% end %><% end %>
                                    <% if hasLink %></a><% end %>
                                </li>
                            <% end %>
                        </ul>
                    <% end %>
                </div>
            </div>
		</div>
	</div>
</div>
