<div class="mid_block">
	<div class="container">
		<div class="row">
            <div class="offset1 span10">
                <table class="table table-striped table-bordered visible-desktop">
                    <% @schedule.keys.each do | slot | %>
                        <tr>
                            <td>
                                 <%= DateTime.strptime(slot, '%m/%d/%Y %H:%M:%S').strftime('%l:%M %p') %>
                            </td>

                            <% rooms = @schedule[slot] %>
                            <% if (rooms.length > 1) %>
                                <% rooms.each do | row | %>
                                    <td <% if (row['slots'] > 1) %>rowspan="<%= row['slots'] %>"<% end %>>
                                        <% hasLink = row['anchor'] != 'none' %>
                                        <% if hasLink %><a href="/speakers#<%= row['anchor'] %>"><% end %>
                                        <%= row['name'] %><% if hasLink %> – <%= row['title'] %><% end %>
                                        <% if hasLink %></a><% end %>
                                    </td>
                                <% end %>
                            <% else %>
                                <td colspan="7">
                                    <% row = @schedule[slot].first %>
                                    <% hasLink = row['anchor'] != 'none' %>
                                    <% if hasLink %><a href="/speakers#<%= row['anchor'] %>"><% end %>
                                    <%= row['name'] %><% if hasLink %> – <%= row['title'] %><% end %>
                                    <% if hasLink %></a><% end %>
                                </td>
                            <% end %>
                        </tr>
                    <% end %>
                </table>

                <div class="hidden-desktop">
                    <% @schedule.keys.each do | slot | %>
                        <h4><%= DateTime.strptime(slot, '%m/%d/%Y %H:%M:%S').strftime('%l:%M %p') %></h4>
                        <ul>
                            <% rooms = @schedule[slot] %>
                            <% rooms.each do | row | %>
                                <li>
                                    <% hasLink = row['anchor'] != 'none' %>
                                    <% if hasLink %><a href="/speakers#<%= row['anchor'] %>"><% end %>
                                    <%= row['name'] %><% if hasLink %> – <%= row['title'] %><% end %>
                                    <% if hasLink %></a><% end %>
                                </li>
                            <% end %>
                        </ul>
                    <% end %>
                </div>
            </div>
		</div>
	</div>
</div>
